.bg-img {
  width: 100%;
  height: 100%;
  background-image: url(../image/high-angle-ouija-board-table.jpg);
  background-size: cover;
  background-position: center;
}

.bg-transcolor {
  width: 100%;
  height: 100%;
  background-color: rgba(113, 101, 101,     0.618);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info {
  max-width: 600px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(247, 244, 244, 0.849);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  max-width: 300px;
  width: 100%;
  height: 40px;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  text-align: center;
  color: rgb(89, 88, 88);
  padding: 10px;
  box-sizing: border-box;
  margin-top: 50px;
}

h1 {
  max-width: 500px;
  width: 100%;
  height: 90px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: 'Emilys Candy', cursive;
  font-size: 60px;
  text-align: center;
  color: rgb(60, 60, 60);
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

p {
  max-width: 500px;
  width: 100%;
  height: 200px;
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  text-align: center;
  color: rgb(60, 60, 60);
  box-sizing: border-box;
}

.date {
  max-width: 500px;
  width: 100%;
  height: 100px;
  font-size: 15px;
  color: rgb(242, 86, 86);
}

.btn {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-right: 150px;
}

button {
  width: 250px;
  height: 150px;
  cursor: url(../image/ouija-icon.png), auto;
  font-family: 'Emilys Candy', cursive;
  font-size: 60px;
  text-align: center;
  border-radius: 20px;
  border: 0;
  color: rgb(60, 60, 60);
}